*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container
{
    text-align: center;
    background-color: rgb(236, 200, 206);
    border: solid 3px rgb(2, 198, 247);
}
.container__card
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.container__image
{
    width: 150px;
    height: 200px;
    border: solid 2px black;
    margin: 15px;
}
.container__title
{
    padding: 10px;
}
.container__line
{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10px;
}
.container__line__hr
{
    width: 50%;
    border-top: 1px solid black;
}